/* ===== Sidebar submenu animation ===== */
.nav .collapse {
    transition: height 0.3s ease;
}

.nav .collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

/* Menu con */
.nav .collapse .nav-link {
    font-size: 0.9rem;
    padding: 6px 0;
    transition: all 0.25s ease;
}

/* Hover menu con */
.nav .collapse .nav-link:hover {
    color: #0d6efd;
    transform: translateX(6px);
}

/* Menu cha hover */
.nav .nav-link {
    border-radius: 8px;
    transition: background-color 0.25s ease;
}

.nav .nav-link:hover {
    background-color: #f1f5ff;
}

.sidebar-header{
    color: aqua
}